<nav class="widget widget--navigation">
  <ul>
    <li class="tu {% if template == 'customers/account' or template == 'customers/order' %}active {% endif %}">
      <a href="/account" title="Orders">Orders</a>
    </li>
    <li class="tu {% if template == 'customers/addresses' %}active {% endif %}">
      <a href="/account/addresses" title="Addresses">Addresses</a>
    </li>
    <li class="tu">
      <a href="#swym-wishlist">Wishlist</a>
    </li>
    {% comment %} <li>
      <a href="/tools/recurring/login/">Manage Subscriptions</a>
    </li> {% endcomment %}
    <li class="tu">
      <a href="/account/logout" title="Logout">Logout</a>
    </li>
  </ul>
</nav>
