<div style="background: #F8F9FA;padding: 10% 0;">
  <div class="container--fluid">
    <div class="row row--gutters">
      <div class="column column--sm-12 column--md-8">
        <h1 class="h1 f-hero-l">Miyagi Do Karate</h1>
        <h1 class="h1">Miyagi Do Karate</h1>
        <h2 class="h2">Miyagi Do Karate</h2>
        <h3 class="h3">Miyagi Do Karate</h3>
        <h4 class="h4">Miyagi Do Karate</h4>
        <h5 class="h5">Miyagi Do Karate</h5>
        <h6 class="h6">Miyagi Do Karate</h6>
        <h6 class="h7">Miyagi Do Karate</h6>
      </div>

      <div class="column column--sm-12 column--md-4">
        <p class="p-lg">Large Copy</p>
        <p class="p-md">Medium Copy</p>
        <p class="p-reg">Reg Copy</p>
        <p class="p-sm">Small Copy</p>
      </div>
    </div>

    <hr>

    <h4>Buttons</h4>
    <div class="row row--gutters">
      <div class="column column--sm-12 column--md-6">
        <button class="btn">Primary Button</button>
        <button class="btn disabled">Primary Button - Disabled</button>
        <button class="btn btn--destructive">Primary Button - Destructive</button>
        <br><br>
        <button class="btn btn--secondary">Secondary Button</button>
        <button class="btn btn--secondary disabled">Secondary Button - Disabled</button>
        <button class="btn btn--secondary btn--destructive">Secondary Button - Destructive</button>
        <br><br>
        <button class="btn btn--tertiary">Tertiary Button</button>
        <button class="btn btn--tertiary disabled">Tertiary Button - Disabled</button>
        <button class="btn btn--tertiary btn--destructive">Tertiary Button - Destructive</button>
        <br><br>
        <button class="btn btn--text-only">Text Only Button</button>
        <button class="btn btn--text-only disabled">Text Only Button - Disabled</button>
        <button class="btn btn--text-only btn--destructive">Text Only Button - Destructive</button>
        <br><br>
        <button class="btn btn--text-only btn--large">Shop Now</button>
        <button class="btn btn--text-only btn--large disabled">Shop Now - Disabled</button>
      </div>
      <div class="column column--sm-12 column--md-6">
        <button class="btn btn--large">Large Button</button>
        <button class="btn btn--secondary btn--large">Large Button</button>
        <button class="btn btn--tertiary btn--large">Large Button</button>
        <br><br>
        <button class="btn btn--small">Small Button</button>
        <button class="btn btn--secondary btn--small">Small Button</button>
        <button class="btn btn--tertiary btn--small">Small Button</button>
        <br><br>
        <button class="btn btn--block">Block Button</button>
        <button class="btn btn--secondary btn--block">Block Button</button>
        <button class="btn btn--tertiary btn--block">Block Button</button>
      </div>
    </div>

    <hr>

    <h4>Lists</h4>
    <div class="row row--gutters">
      <div class="column column--sm-12 column--md-4">
        <p class="p-md">An Unodered List</p>
        <ul>
          <li>This is a list</li>
          <li>It can have multiple items in it</li>
          <li>Preferably not too many though</li>
          <li>This item is rather verbose &mdash; for we are attempting to force a line break to ensure we account for a list item line height.</li>
        </ul>
      </div>
      <div class="column column--sm-12 column--md-4">
        <p class="p-md">An Ordered List</p>
        <ol>
          <li>This is an ORDERED list</li>
          <li>It can have multiple items in it</li>
          <li>Preferably not too many though</li>
          <li>This item is rather verbose &mdash; for we are attempting to force a line break to ensure we account for a list item line height.</li>
        </ol>
      </div>
      <div class="column column--sm-12 column--md-4">
        <p class="p-md">A Definition List</p>
        <dl>
          <dt>Beast of Bodmin</dt>
          <dd>A large feline inhabiting Bodmin Moor.</dd>

          <dt>Morgawr</dt>
          <dd>A sea serpent.</dd>

          <dt>Owlman</dt>
          <dd>A giant owl-like creature.</dd>
        </dl>
      </div>
    </div>

    <hr>

    <h4>Form Fields</h4>
    <div class="row row--gutters">
      <div class="column column--sm-12 column--md-5">
        <div class="form">
          <div class="form__row">
            <div class="form__field form__field--half">
              <label for="first_name">First Name</label>
              <input id="first_anme" type="text" />
            </div>
            <div class="form__field form__field--half">
              <label for="last_name">Last Name</label>
              <input id="last_anme" type="text" />
            </div>
          </div>
          <div class="form__row">
            <div class="form__field form__field--error">
              <label for="email">Email</label>
              <input id="email" type="email" />
              <div class="form__note">A short descriptive field note.</div>
            </div>
          </div>
          <div class="form__row">
            <div class="form__field">
              <label for="message">Message</label>
              <textarea rows="10"></textarea>
            </div>
          </div>
          <div class="form__row">
            <button type="submit" class="btn btn--large">Submit</button>
          </div>
        </div>
      </div>
      <div class="column column--sm-12 column--md-6 column--md-offset-1">
        <div class="form">
          <div class="form__row">
            <div class="form__field form__field--checkbox">
              <input type="checkbox" checked id="signup" />
              <span class="checkmark"></span>
              <label for="signup">Keep me up to date with occasional newsletters</label>
            </div>
          </div>
          <div class="form__row">
            <label>Choose One</label>
            <div class="form__field form__field--radio">
              <input type="radio" checked name="options" id="option_1" value="option_1" />
              <span class="radio"></span>
              <label for="option_1">Option #1</label>
            </div>
            <div class="form__field form__field--radio">
              <input type="radio" name="options" id="option_2" value="option_2" />
              <span class="radio"></span>
              <label for="option_2">Option #2</label>
            </div>
            <div class="form__field form__field--radio">
              <input type="radio" name="options" id="option_3" value="option_3" />
              <span class="radio"></span>
              <label for="option_3">Option #3</label>
            </div>
          </div>
          <div class="form__break"></div>
          <div class="form__row">
            <div class="form__field form__field--select">
              <label for="state">State</label>
              <select id="state">
                <option value="">Please Select One...</option>
                <option>Oklahoma</option>
                <option>Texas</option>
                <option>Kansas</option>
              </select>
              {% include 'icon', handle: 'arrow-down' %}
            </div>
          </div>
          <div class="form__row">
            <div class="form__note">A short descriptive form note with <a href="#">a link.</a>.</div>
          </div>
          <div class="form__row">
            <button type="submit" class="btn btn--large">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <h4>Product Loop</h4>
    <div class="row">
      <div class="column column--xs-12">
        <div class="row row--gutters products">
          {% for prod in collections.all.products limit: 3 %}
            {% include 'product-loop' classes: 'column column--xs-6 column--md-4' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
