<div class="modal modal--size-guide">
  <div class="modal__content">
    <div class="size-guide size-guide--women size-guide--hidden">
      <h3 class="h4 tu fw1">Women</h3>
      <table class="size-guide-table">
        <tbody>
          <tr>
            <th>&nbsp;</th>
            <th>0</th>
            <th>2</th>
            <th>4</th>
            <th>6</th>
            <th>8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Bust</h3></td>
            <td>32 1/2</td>
            <td>33 1/2</td>
            <td>34 1/2</td>
            <td>35 1/2</td>
            <td>36 1/2</td>
            <td>37 1/2</td>
            <td>39</td>
            <td>40 1/2</td>
          </tr>
          <tr>
            <td><h3 class="tu fw1">Waist</h3></td>
            <td>25 1/2</td>
            <td>26 1/2</td>
            <td>27 1/2</td>
            <td>28 1/2</td>
            <td>29 1/2</td>
            <td>30 1/2</td>
            <td>32</td>
            <td>33 1/2</td>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Hip</h3></td>
            <td>35 1/2</td>
            <td>36 1/2</td>
            <td>37 1/2</td>
            <td>38 1/2</td>
            <td>39 1/2</td>
            <td>40 1/2</td>
            <td>42</td>
            <td>43 1/2</td>
          </tr>
        </tbody>
      </table>

      <table class="size-guide-table">
        <tbody>
          <tr>
            <th>&nbsp;</th>
            <th>P (0-2)</th>
            <th>S (4-6)</th>
            <th>M (8-10)</th>
            <th>L (12)</th>
            <th>XL (14-16)</th>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Bust</h3></td>
            <td>32 1/2 - 33 1/2</td>
            <td>34 1/2 - 35 1/2</td>
            <td>36 1/2 - 37 1/2</td>
            <td>38 1/2 - 39 1/2</td>
            <td>41 1/2 - 42 1/2</td>
          </tr>
          <tr>
            <td><h3 class="tu fw1">Waist</h3></td>
            <td>25 1/2 - 26 1/2</td>
            <td>27 1/2 - 28 1/2</td>
            <td>29 1/2 - 30 1/2</td>
            <td>31 1/2 - 32 1/2</td>
            <td>34 1/2 - 35 1/2</td>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Hip</h3></td>
            <td>35 1/2 - 36 1/2</td>
            <td>37 1/2 - 38 1/2</td>
            <td>39 1/2 - 40 1/2</td>
            <td>41 1/2 - 42 1/2</td>
            <td>44 - 45 1/2</td>
          </tr>
        </tbody>
      </table>

      <div class="size-guide-table-info">
        <p>TOPS AND DRESSES HPS (High Point Shoulder): The measurement from top of shoulder at neck edge to hem.</p>
        <p>SKIRTS CB (Center Back Length): The measurement from top of waistband at center back of skirt to hem.</p>
        <p>PANTS/SHORTS INSEAM: The measurement along inside seam from bottom crotch to hem.</p>
      </div>
    </div>

    <div class="size-guide size-guide--minis size-guide--hidden">
      <h3 class="h4 tu fw1">Milly Minis <br>(Children)</h3>
      <table class="size-guide-table">
        <tbody>
          <tr>
            <th>&nbsp;</th>
            <th colspan="3">LITTLE GIRLS (2-6)</th>
            <th colspan="6">BIG GIRLS (7-16)</th>
          </tr>

          <tr>
            <th>&nbsp;</th>
            <th>2/3</th>
            <th>4</th>
            <th>5/6</th>
            <th>7/8</th>
            <th>10</th>
            <th>12</th>
            <th>14</th>
            <th>16</th>
            <th>14/16</th>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Chest</h3></td>
            <td>20 1/2 - 21 1/2</td>
            <td>22 1/2</td>
            <td>23 1/2 - 24 1/2</td>
            <td>26 - 27</td>
            <td>28 1/2</td>
            <td>30</td>
            <td>31 1/2</td>
            <td>33</td>
            <td>31 1/2 - 33</td>
          </tr>
          <tr>
            <td><h3 class="tu fw1">Waist</h3></td>
            <td>20 - 20 1/2</td>
            <td>21</td>
            <td>21 1/2 - 22</td>
            <td>22 1/2 - 23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27 1/2</td>
            <td>26 - 27 1/2</td>
          </tr>
          <tr class="odd">
            <td><h3 class="tu fw1">Hip</h3></td>
            <td>21 - 22</td>
            <td>23</td>
            <td>24 - 25 1/2</td>
            <td>27 - 28 1/2</td>
            <td>30</td>
            <td>32</td>
            <td>34</td>
            <td>35 1/2</td>
            <td>34 - 35 1/2</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p class="spl">If you have questions about sizing, our brand specialists would be happy to assist you. Please call <a href="tel:+18002232664">1-800-223-2664</a> or email <a href="mailto:customercare@milly.com">customercare@milly.com.</a></p>

    <div class="modal__close">{% render 'icon', handle: 'close' %}</div>
  </div>
  <div class="modal__bg"></div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      function openModal(e) {
        e.preventDefault()
        $(`.size-guide`).addClass('size-guide--hidden');
        $(`.size-guide--${$(this).data('modal-size-guide')}`).removeClass('size-guide--hidden');
        $('.modal.modal--size-guide').addClass('modal--open');
      }

      function closeModal() {
        $('.modal').removeClass('modal--open');
      }

      $('.modal__close, .modal__bg').on('click', closeModal);
      $('[data-modal-size-guide]').on('click', openModal);
    });
  </script>
</div>
