<main class="content content--collection" role="main">
  <div class="container--wide">
    {% include 'collection-header' %}
    {% include 'collection-sidebar' %}
    {% include 'collection-main' %}
  </div>
</main>

{% schema %}
  {
    "name": "Collection",
    "settings":[]
  }
{% endschema %}
